{
 :paths   ["src"]
 :deps    {
           com.cleancoders.c3kit/apron {:mvn/version "2.5.0"}
           dev.weavejester/medley      {:mvn/version "1.9.0"}
           org.clojure/clojure         {:mvn/version "1.12.1"}
           }
 :aliases {
           :serve {:main-opts ["-m" "mcp.server"]}
           :test  {:extra-deps  {
                                 speclj/speclj {:mvn/version "3.10.0"}
                                 }
                   :extra-paths ["dev" "spec"]}
           :spec  {:main-opts ["-m" "speclj.main" "-c" "-t" "~llm"]}
           }
 }